$primary: #0a0a0a;
$secondary: #f4f0f0;
$accent: #7692ff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;

  &::-webkit-scrollbar {
    background-color: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
  }
}

img {
  width: 100%;
  display: block;
}

section {
  padding: 4rem 4.5rem;
}

.title {
  font-size: 3.5rem;
}

.sub-title {
  font-size: 2.25rem;
}

.container {
  min-height: 100dvh;
  background-color: $secondary;
  position: relative;

  header {
    top: 0;
    width: 100%;
    background-color: $primary;
    padding: 1rem 2rem;
    position: sticky;
    z-index: 1;

    nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mobile-sidebar {
        position: absolute;
        right: -100%;
        top: 100%;
        width: 50%;
        height: 70dvh;
        background-color: $primary;
        border-block: 5px solid $accent;
        display: none;
        justify-content: stretch;
        transition: 750ms linear;

        &.visible {
          display: flex;
          right: 0;
        }

        ul {
          width: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          li {
            padding: 1rem;
            text-align: center;
            a {
              font-size: 1.25rem;
              text-decoration: none;
              color: $secondary;
              transition: color 125ms;

              &:hover {
                color: $accent;
              }
            }
          }
        }
      }

      .logo {
        margin-left: 1rem;
        width: 90px;
      }

      #Menu {
        display: none;
        i {
          font-size: 2rem;
          cursor: pointer;
        }
      }

      ul.desk-nav {
        display: flex;
        list-style: none;

        li {
          padding: 1rem;
          a {
            font-size: 1.25rem;
            text-decoration: none;
            color: $secondary;
            transition: color 125ms;

            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }

  #Home {
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;

    main {
      padding: 1rem;
      width: 65%;

      article {
        display: flex;
        flex-direction: column;
        h2 {
          span {
            color: $accent;
          }
        }

        p {
          padding-block: 1rem;
          max-width: 70ch;
          font-size: 1.125rem;
        }

        .action-btn {
          width: fit-content;
          display: flex;
          flex-flow: row wrap;
          gap: 1rem;
          padding: 1rem;

          .contact-btn {
            padding: 0.5rem;
            font-size: 1.25rem;
            text-decoration: none;
            border-radius: 1rem;
            font-weight: bold;
            background-color: $primary;
            color: $secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 125ms;

            &:hover {
              color: $accent;
            }
          }

          .resume-btn {
            padding: 0.5rem;
            font-size: 1.25rem;
            text-decoration: none;
            border-radius: 1rem;
            font-weight: bold;
            background-color: $secondary;
            color: $accent;
            border: 4px solid $accent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color, background-color 200ms;

            &:hover {
              background-color: $accent;
              color: $secondary;
            }
          }
        }
      }
    }

    figure {
      width: 35%;
      border: 12px solid $primary;
      border-radius: 50% 50% 50% 50% / 50% 50% 0% 0%;
      padding: 1rem 1rem 0rem 1rem;
      overflow: hidden;
    }
  }

  #About {
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    article {
      width: 50%;

      h1 {
        color: $secondary;
      }

      p {
        color: $secondary;
        padding-block: 1rem;
        font-size: 1.125rem;
      }
    }
    aside {
      width: 50%;

      .icon-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        span {
          flex: 0 1 20%;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: scale 125ms;
          cursor: pointer;

          &:hover {
            scale: 1.05;
          }

          img {
            object-fit: fill;
          }
        }
      }
    }
  }

  #Skills {
    h1 {
      width: 100%;
      text-align: center;
    }

    .skill-container {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .skill {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        border: 5px solid $primary;
        border-radius: 1rem;

        .skill-img {
          width: 96px;
          padding: 1rem;
        }

        .skill-bar-container {
          width: 100%;
          display: flex;
          padding-block: 1.25rem;

          .skill-bar {
            width: 100%;
            border: 2px solid $primary;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 1rem;
            font-size: 1.125rem;
            font-weight: bold;
            position: relative;
            overflow: hidden;
            isolation: isolate;
            color: $secondary;
            background-color: color-mix(
              in srgb,
              color-mix(in srgb, $primary 15%, $secondary) 80%,
              $accent
            );

            &::before {
              content: "";
              position: absolute;
              left: 0;
              height: 100%;
              width: var(--width);
              background-color: $accent;
              z-index: -1;
            }
          }
        }
      }
    }
  }

  #Experience {
    background-color: $primary;

    h1 {
      color: $secondary;
    }

    .experience-container {
      padding: 4rem 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      .experience-card {
        border: 5px solid $secondary;
        position: relative;
        border-radius: 1rem;

        .exp-img {
          width: 74px;
          padding: 0.75rem;
          border: 5px solid $secondary;
          border-radius: 50%;
          background-color: $primary;
          position: absolute;
          left: 50%;
          top: 0;
          translate: -50% -50%;
        }

        .exp-body {
          padding: 2.5rem 1rem 0.5rem;
          color: $secondary;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          header {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            z-index: 0;

            h2 {
              font-size: 1.5rem;
            }

            h3 {
              font-size: 1.25rem;

              span {
                color: $accent;
              }
            }
          }

          .text-body {
            padding-block: 1rem;
            padding-inline: 1.5rem;

            li {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }

  #Projects {
    .projects-container {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
      padding-block: 2rem;

      .project-card {
        flex: 1 1 400px;
        background-color: color-mix(
          in srgb,
          color-mix(in srgb, $primary 90%, $secondary) 80%,
          $accent
        );
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;

        .project-img {
          position: relative;

          .github-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0.5rem;
            border-radius: 50%;
            background-color: $primary;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 250ms;

            &:hover {
              border: 2px solid $accent;
            }

            a {
              i {
                font-size: 2rem;
              }
            }
          }
        }

        .project-body {
          color: $secondary;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 0.75rem;

          h2 {
            a {
              color: $secondary;
              text-decoration: none;
              transition: color 250ms;
              &:hover {
                color: $accent;
              }
            }
          }

          p {
            font-size: 1.125rem;
          }

          .demo-btn {
            margin-top: auto;
            margin-inline: auto;
            padding: 0.25rem 1rem;
            border: 3px solid $accent;
            font-size: 1.25rem;
            color: $accent;
            text-decoration: none;
            border-radius: 1rem;
            transition: background-color 250ms, color 250ms;

            &:hover {
              background-color: $accent;
              color: $secondary;
            }
          }
        }
      }
    }
  }

  #Contact {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      color: $secondary;
    }

    .contact-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      form {
        width: 50%;
        color: $secondary;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        border: 5px solid $accent;
        padding: 1.5rem;

        .input-group {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          label {
            font-size: 1.125rem;
          }

          input {
            border: none;
            border-radius: 1rem;
            padding: 1rem 0.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: color-mix(in srgb, $primary 80%, $secondary);
            color: $secondary;
            font-size: 1.125rem;
            transition: outline 50ms;

            &:focus {
              outline: 2px solid $secondary;
            }

            &::placeholder {
              color: color-mix(in srgb, $secondary 60%, $accent 10%);
            }
          }

          textarea {
            resize: none;
            border: none;
            border-radius: 1rem;
            padding: 1rem 0.5rem;
            background-color: color-mix(in srgb, $primary 80%, $secondary);
            color: $secondary;
            font-size: 1.125rem;
            transition: outline 50ms;

            &:focus {
              outline: 2px solid $secondary;
            }

            &::placeholder {
              color: color-mix(in srgb, $secondary 60%, $accent 10%);
            }
          }
        }

        .form-btn {
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            text-decoration: none;
            padding-block: 0.25rem;
            padding-inline: 1.25rem;
            border: 5px solid $accent;
            border-radius: 1rem;
            font-size: 1.5rem;
            color: $accent;
            transition: background-color 200ms, color 200ms;

            &:hover {
              background-color: $accent;
              color: $secondary;
            }
          }
        }
      }

      figure {
        width: 50%;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    background-color: color-mix(in srgb, $primary 80%, $secondary);

    span {
      width: 100%;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 1rem;

      img {
        width: 90px;
      }
    }

    .footer-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: $primary;
      padding: 0 1rem 1rem;

      .page-map {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        padding: 1rem;
        border-right: 5px solid $secondary;
        border-top: 5px solid $secondary;

        span {
          padding: 1rem;
          flex: 1 1 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            text-decoration: none;
            font-size: 1.5rem;
            color: $primary;
            transition: color 125ms;
            color: $secondary;
            font-weight: 600;

            &:hover {
              color: $accent;
            }
          }
        }
      }

      .footer-info {
        display: flex;
        flex-direction: column;
        width: 50%;

        .copyright {
          padding: 2rem 2rem 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-bottom: 2.5px solid $secondary;

          p {
            color: $secondary;
            font-size: 1.125rem;
            text-align: center;
          }

          span {
            color: $secondary;
            font-size: 1.5rem;
            transition: color 125ms;
            cursor: pointer;
            width: fit-content;

            &:hover {
              color: $accent;
            }
          }
        }

        .social {
          padding: 1rem 2rem 2rem;
          border-top: 2.5px solid $secondary;
          display: flex;
          flex-direction: column;

          h1 {
            color: $secondary;
            text-align: center;
          }

          .social-icons {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            a {
              width: 2.5rem;
            }
          }
        }
      }
    }
  }
}
